p
{
    color: #808080;

}
*
{
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}

    /* home Section  */   
.home
{
    background-image: url(images/drew-coffman-1872.jpg);   
    height: 100vh;
    background-size: 100% 100%;
    overflow: auto;
}
.home-cap
{
    text-align: center;
    margin-top: 50px;
    color: white;
}
.nav-img
{
    width:13%;
    float: left;
    margin-top:10px ;
}
/* .nav
{
    position: fixed;
} */
.nav-img img
{
    width: 100%;
}
.nav-links
{
    /* width:40%; */
}
.nav-links ul
{
    float: right;
    margin-top: 10px; 
}
.nav-links ul li
{
    float: left;
    list-style-type: none;
    padding: 15px 25px;
}
.nav-links ul li a
{
    color: #fff;
    text-decoration: none;
}
.home-cap p
{
    font-size: 23px;
}
.home .container
{
    width: 90%;
    margin: auto;
}
.home-cap h1
{
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;   
}
.home-cap .btn
{
    padding: 17px 25px;
    border:none ;
    border-radius: 4px;
    margin: 25px 3px;
    color: #fff;
    font-size: 15px;
}
.home-cap .btn1
{
    background-color: #8e7754;
}
.home-cap .btn2
{
    background-color:transparent;
    border: solid 2px;
}
.home p
{
    color: #cccccc;
}
/* .home-cap  .scroll
{
    height: 60px;
    width: 30px;
    border: #fff solid 2px;
    margin: auto;
    margin-top: 40px;
    border-radius: 40%;
} */
    /* End home  */



    /* About Section */
.about 
{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding:20px 10px ;
    height: 90vh;
}
.about .about-img
{
    width: 45%;
    float: left;
}
.about-img img
{
    width: 100%;
}
.about-cap
{
    float: right;
    width: 50%;
    text-align: center;
}
.about-list
{
    text-align: left;
    padding-top: 40px;
}
.about-list li
{
    padding: 15px;
    margin-left: 40px; 
    font-size: 18px;
}
.about h2
{
    margin:20px ;
}
.about p
{
    margin:20px ;
    font-size: 18px;
} 
    /* End About */



    /* Offer Section */

.offer
{
    width: 90%;
    margin: auto;
}

.offer-cap
{
    float: left;
    width: 50%;
    margin: 50px 0;
    text-align: center;
}
.offer-img
{
    float: right;
    width: 45%;
}
.offer-img img
{
    width: 100%;
}
.offer-cap h2
{
    margin: 30px 0;
}

.offer-cap .para
{
    margin: 30px 0;
    padding: 20px 0;
}
.offer-cap p
{
    font-size: 18px;
}

    /* End Offer */

    /* Gallary Section  */

.first-p
{
    text-align: center;
    margin: 15px;
    padding: 20px;
    font-size: 20px;
}
.gallary h2
{
    text-align: center;
    margin: 30px 0px 0px 0px;
    padding: 15px;
    font-size: 200%;
}
.meal
{
    float: left;
    width: 31%;
    margin: 15px;

}
.meal img
{
    width: 100%;
}
.meals
{
    width: 90%;
    margin: auto;
}
.inner h5 ,.inner p
{
    text-align: center;
    padding: 10px;
    font-size: 130%;
}

/* End Gallary */


/* Blog Section */

.blog-cap
{
    float: left;
    width: 60%;
}
.blog-map
{
    float: right;
    width: 35%;
}
.blog
{
    width: 85%;
    margin: auto;
    margin-top: 30px ;
    height: 70vh;
}
.blog-cap p , h2
{
    text-align: center;
    margin: 20px;
    font-size: 120%;
}
/* End Blog */

/* Contact Section */
.contact
{
    width: 100%;
    margin: auto;


}
.contact .father
{
    float: left;
    width: 25%;
    height:50vh;
    box-sizing: border-box;
    padding: 10px;
    background-color:transparent;
    background-color: rgb(32, 31, 31);

}


.contact .inner li
{
    list-style-type:none;
    margin: 15px; 
    border-bottom: black solid 1px;
    color: #808080;
    font-size: 18px;
    font-size: 120%;


}
.contact h2
{
    margin: 30px; 
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 140%;

}
.contact p
{
    margin: 30px; 
    font-size: 120%;
}
.contact a
{
    color: #808080;
    text-decoration: none;
}
.contact span
{
    font-size: 150%;
}
/* End Contact  */

